$tablet = 480px
$tablet = 768px
$desktop = 1320px


// COLORS
$white = #fff
$black = #000
$transparent = transparent
$light-blue = #5ea5f7
$dark-blue = #070353
$gray = #ccc
$disclaimer-gray = #b3b3b3
$red = #ff2400
$orange = #ff5200

$dark-blue-transparent = rgba(3, 1, 65, 0.7)
$gray-border = #e5e5e5
$dark-gray = #5c5b5b

// Typography
$font-light = 300
$font-regular = 500
$font-medium = 700
$font-bold = 900
